@import url("font.css");

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    border: none;
    padding:0;
}

body {
    font-family: 'NunitoSans-Regular', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'YesevaOne-Regular', Arial, sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

/*Настройка меню header и footer*/

.header,
.footer,
.hero1{
    background-color: black;
}

.header,
.footer{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.header__list {
    display: flex;
    gap: 47px;
    padding: 0;
    margin: 0;
}

.header-container {
    max-width: 1250px;
    display: flex;
    gap: 45px;
    justify-content: space-between;
    align-items: center;
    min-height: 83px;
}

.header__link {
    font-family: 'NunitoSans-Regular';
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__link:hover,
.header__link:active,
.hero1__link:hover,
.hero1__link:active{
    color: rgba(227, 184, 115, 1);
}

.header__link-tel{
    color: rgba(227, 184, 115, 1);
    font-size: 11px;
}

.buttons {
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    font-family: 'NunitoSans-Italic';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2) ;
}

.header__btn {
    max-width: 161px;
    min-height: 37px;
    background-color:rgba(227, 184, 115, 1);
    padding: 13px 33px;
}

.header__logo{
    text-transform: uppercase;
    color: rgba(227, 184, 115, 1);
    font-size: 11px;
}

/*Окончание настройки меню header и footer*/

/*Настройка блока hero*/

.hero {
    background-repeat: no-repeat;
    background-position: center;
    background-image:url('./images/png/hero.png');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.container {
    position: relative;
    z-index: 1;
}

.hero__wrap-btn {
    display: flex;
    gap: 20px;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.hero__heading1 {
    font-size: 40px;
}

.hero__heading-color,
.header__tel {
    color:rgba(227, 184, 115, 1);
}

.hero__text{
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
    line-height: 163%;
}

.hero__div {
    display: flex;
    flex-direction: column;
    gap: 41px;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
    max-width: 1250px;
}

.hero__btn1{
    max-width: 207px;
    min-height: 51px;
    background-color:rgba(227, 184, 115, 1);
    padding: 19px 42px 20px 41px;
}

.hero__btn2{
    max-width: 207px;
    min-height: 51px;
    background-color:rgba(0, 0, 0, 0);
    padding: 19px 23px 20px 22px;
    border: 1px solid rgba(255, 255, 255, 1);
}

/*Окончание настройки блока hero*/
/*Настройка блока hero1*/

.hero1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 169px 1fr;
    min-height: 1074px;
    max-width: 100%;
    justify-content: center;
    gap: 50px;
    align-items: start;
}

.hero1__div1{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero1__div4{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    max-width: 679px;
    min-height: 482px;
}

.hero1__div{
    grid-column: 2;
    grid-row: 1;
    align-self: end;
}

.hero1__div2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.hero1__div3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 24px;
    justify-content: start;
    max-width: 442px;
    margin-bottom: 79px;
}

.hero1__list{
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
    justify-content: start;
}

.hero1__link {
    font-family: 'YesevaOne-Regular', Arial, sans-serif;
    text-transform: uppercase;
}

.hero1__text,
.hero1__link {
    font-size: 14px;
    color: #FFFFFF;
}

.hero1__text{
    text-align: left;
    line-height: 191%;
    margin-top: 34px;
    margin-bottom: 42px;
}

.hero1__text-span{
    font-size: 13px;
    color: #FFFFFF;
}

.hero1__heading1,
.hero1__heading{
    color: rgba(227, 184, 115, 1);
}

.hero1__heading{
    font-size: 27px;
}

.hero1__heading1{
    font-size: 18px;
    margin-bottom: 10px;
}

.hero1__link:hover,
.hero1__link:active,
.header__link-tel:hover,
.header__link-tel:active{
    text-decoration: underline;
}

.hero1__div5{
    display: flex;
    gap: 35px;
}

.hero1__link-nav:active{
    width: 15px;
    height: 15px;
    background-image: url("./images/svg/raund1.svg");

}
.hero1__div6{
    display: none;
}

/*Окончание настройки блока hero1*/
/*Настройка блока hero2*/

.hero2{
    min-height: 1000px;
    margin-top:-330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hero2__div1{
    max-width: 817px;
    height: 434px;
    position: relative;
}

.hero2__btn {
    width: 75px;
    min-height: 75px;
    position: absolute;
    z-index: 1;
    top: 190px;
    left: 385px;
    cursor: pointer;
    background-image: url("./images/png/круглый1.png");
    border-radius: 50px;
    padding: 0;
}

.hero2__hr{
    text-align: center;
    background-color:rgba(227, 184, 115, 1);
    width: 55px;
    height: 3px;
    margin-top: 62px;
    margin-bottom: 34px;
}

.hero2__heiding{
    text-align: center;
    font-size: 20px;
    font-style: normal;
    margin-top: 40px;
}
.hero2-image,
.hero3__image-l,
.hero3__image-h,
.hero5__image{
    margin: 3px;
}

.hero2__div-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 31px;
}

.hero2__div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero2__div1:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.hero2__text{
    font-size: 18px;
    text-align: center;
    padding-bottom: 91px;
}

.hero2__form {
    display: grid;
    grid-template-columns: 1fr 1fr 200px;
    grid-template-rows: 50% 30px;
    max-width: 880px;
    min-height: 102px;
    justify-content: end;
    column-gap: 25px;
}

.hero2__div-input1{
    grid-column: 1;
    grid-row: 1;
}

.hero2__div-input2{
    grid-column: 2;
    grid-row: 1;
}

.hero2__text-span-name,
.hero2__text-span1-name{
    font-size: 13px;
    color: rgba(54, 54, 54, 1);
}

.hero2__text-form,
.hero2__text-form1{
    font-size: 14px;
    color: rgba(54, 54, 54, 1);
    display: inline-flex;
    border-bottom: 1px solid rgba(54, 54, 54, 0.5);
}

.hero2__btn1{
    grid-column: 3;
    grid-row: 1;
    background-color:rgba(227, 184, 115, 1);
    font-family: 'NunitoSans-Regular';
    font-size: 13px;
    max-width: 200px;
    min-height: 51px;
}

.hero2__fildset{
    grid-column: 1/span3;
    margin-top: 33px;
}

.hero2__fildset{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero2__div-input{
    display: flex;
    align-items: center;
}

.hero2__div-input input{
    width: 18px;
    height: 18px;
    margin: 0;
}

input[type="checkbox"] {
    appearance: none;
}

input[type="checkbox"]:checked {
    background-image: url("./images/svg/chekbox.svg");
}

input[type="checkbox"]:focus {
    border-color: rgba(227, 184, 115, 1);
    background-color:rgba(227, 184, 115, 1);
}

.hero2__div-input label{
    font-size: 14px;
    padding-left: 13px;
}

/*Окончание настройки блока hero2*/
/*Настройка блока hero3*/

.hero3{
    max-height: 2600px;
}

.hero3__heiding{
    color: rgba(24, 24, 24, 1);
    text-align: center;
    padding-top: 120px;
}

.hero3__div-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 31px;
}

.hero3__div-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.hero3__div2{
    min-height: 421px;
    max-width: 392px;
}

.bckgb-img-card1{
    background-image: url("/images/png/hero_card.png");
}

.bckgb-img-card2{
    background-image: url("/images/png/hero_card1.png");
}

.bckgb-img-card3{
    background-image: url("/images/png/hero_card2.png");
}

.hero3__heading{
    padding-bottom: 13px;
    color: rgba(54, 54, 54, 1);
    font-size: 18px;
}

.hero3__list{
    display: flex;
    flex-direction: column;
    gap: 13px;
    color: rgba(149, 149, 149, 1);
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.hero3__btn {
    width: 258px;
    max-height: 54px;
    font-family: 'YesevaOne-Regular', Arial, sans-serif;;
    font-size: 18px;
    background-color:rgba(227, 184, 115, 1);
    padding: 17px 21px;
    margin-top: -28px;
    margin-left: 32px;
}

.hero3__btn1{
    width: 213px;
    height: 51px;
    font-size: 13px;
    font-style: normal;
    background-color:rgba(227, 184, 115, 1);
    font-family: 'NunitoSans-Regular';
    grid-column: 1;
    grid-row: 6;
    align-self: flex-start;
    justify-self: end;
}

.hero3__div3{
    padding: 25px 34px 49px 34px;
    margin-top:-125px ;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(248, 243, 243, 0.94) ;
    width: 330px;
    max-height: 286px;
    margin-left: 32px;
    margin-right: 32px;
}

.hero3__div-img1{
    display: flex;
    align-items: center;
}

.hero3__div-wrap2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 150px;
    align-items: center;
}

.hero3__div-img2{
    display: flex;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
    justify-content: start;
}

.hero3__div-wrap4{
    grid-column: 1;
    grid-row: 1;
    background-image: url("./images/png/hero_fon_list.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 645px;
    display: flex;
    flex-direction: column;
    gap: 54px;
    padding-top: 120px;
    padding-left: 150px;
}

.hero3__div-wrap5{
    grid-column: 2;
    grid-row: 1;
    background-color: black;
    max-width: 506px;
    height: 509px;
    margin: 125px 45px 20px 125px;
}

.hero3__image,
.hero3__image2,
.hero3__image4,
.hero3__image6{
    position: relative;
}

.hero3__image1,
.hero3__image3,
.hero3__image5,
.hero3__image7{
    position: absolute;
    left: 183px;
}

.hero3__form-legend{
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
}

.hero3__form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    gap: 9px;
    padding: 25px;
}

.hero3__div-input1,
.hero3__div-input2,
.hero3__div-input3{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.hero3__div-input1{
    grid-column: 1;
    grid-row: 2;
}

.hero3__div-input2{
    grid-column: 1;
    grid-row: 3;
}

.hero3__div-input3{
    grid-column: 1;
    grid-row: 4;
}

.hero3__div-input input{
    width: 18px;
    height: 18px;
}

input[name="name1"],
input[name="phone1"],
input[name="name2"],
input[name="phone2"],
input[type="email"],
input[name="question"] {
    appearance: none;
    background-color: black;
    margin: 0;
    color: #FFFFFF;
}

.form-agree{
    color: #FFFFFF;
}

.hero3__fildset {
    border: none;
    display: flex;
    align-items: start;
    justify-content: start;
    grid-column: 1;
    grid-row: 5;
    padding: 0;
}

.hero2__text-span,
.hero2__text-span1,
.hero2__text-span2{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.hero3__text-form,
.hero3__text-form1,
.hero3__text-form2{
    color: #FFFFFF;
    font-size: 14px;
}

.hero3__text1{
    color: rgba(227, 184, 115, 1);
    margin: 0;
}

.hero3__div-img2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
/*Окончание настройки блока hero3*/

/*Настройка блока hero4*/

.hero4{
    height: 864px;
    max-width: 100%;
    background-image: url("./images/png/hero7.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero4__heiding{
    margin-bottom: 47px;
}

.hero4__link{
    font-family: 'NunitoSans-Regular', Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.hero4__link:hover,
.hero4__link:active{
    text-decoration: underline;
    color: rgba(227, 184, 115, 1);
}

.hero4__list{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.hero4__div6{
    display: none;
}

.hero4__div-wrap{
    max-width: 580px;
    max-height: max-content;
}

.hero4__div-img{
    min-height: 556px;
    background-image: url("./images/png/hero3.png");
}

.hero4__div-img-wrap,
.hero4__div-img-wrap1{
    display: flex;
    flex-direction: column;
    gap: 39px; 
}

.hero4__div-img-wrap{
    margin-top: -40px;
}

.hero4__div-img-wrap1{
    margin-top: -110px;
}

.hero4__div-img-text-wrap{
    display: flex;
    gap: 39px;
    align-items: center;
    justify-content: center;
}

.hero4__div-img1{
    width: 354px;
    min-height: 349px;
    background-image: url("./images/png/hero4.png");
}

.hero4__div-img2{
    width: 353px;
    min-height: 275px;
    background-image: url("./images/png/hero5.png");
}

.hero4__div-img3{
    min-height: 625px;
    background-image: url("./images/png/hero6.png");
}

.position {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*Окончание настройки блока hero4*/

/*Настройка блока hero5*/

.hero5{
    min-height: 1500px;
    background-image: url("./images/png/hero_fon_list3.png");
    background-size: 50% 800px;
    background-repeat: repeat-x;
    background-position: bottom;
}

.hero5__img-wrap{
    height: 76px;
    width: 76px;
    border-radius: 50px;
    border: none;
}

.hero5__heading{
    color: #181818;
    font-size: 18px;
    grid-column: 2;
}

.hero5__text{
    color: #959595;
    font-size: 13px;
    line-height: 180%;
    text-align: left;
}

.hero5__img{
    grid-column: 1;
    height: 76px;
    width: 76px;
    border-radius: 50%;
    object-fit: cover;
}

.hero5__imgh5-wrap{
    display: grid;
    grid-template-columns: 76px auto;
    gap: 20px;
    align-items: center;
}

.hero5__card{
    max-width: 376px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.hero5__btn{
    width: 293px;
    height: 54px;
    margin-top: -25px;
    font-family: 'NunitoSans-Regular';
    font-size: 13px;
}

.btn__one{
    background-image: url(./images/png/button.png);
}

.btn__two{
    background-image: url(./images/png/button1.png);
}

.btn__three{
    background-image: url(./images/png/button2.png);
}

.hero5__imgh5text-wrap{
    width: 376px;
    height: 428px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(248, 243, 243, 0.94);
    padding: 24px 20px;
}

.hero5__card-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 54px;
    justify-content: center;
}

/*Окончание настройки блока hero5*/

/*Настройка блока hero6*/

.hero6{
    min-height: 900px;
    background-image:url("./images/png/hero7.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero6__heading{
    color: rgba(227, 184, 115, 1);
    font-size: 20px;
    text-align: center;
}

.hero6__img-wrap{
    display: grid;
    grid-template-columns: repeat(2,28px);
    gap: 15px;
    justify-content: center;
    margin-top: 26px;
    margin-bottom: 43px;
}

.hero6__img{
    grid-column: 1;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    object-fit: cover;
}

.img-two{
    grid-column: 2;
}

.hero6__img-karta{
    width: 925px;
    height: 465px;
    background-image: url("./images/png/carta.png");
    margin: 0 auto;
}

.hero6__div-form{
    width: 883px;
    max-height: 445px;
    background-color: black;
    margin-top: -225px;
}

.hero6__form{
    max-width: 520px;
    height: 383px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    background-color: black;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.hero6__form-legend{
    font-family:'YesevaOne-Regular', Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    grid-column: 1/span2;
    text-transform: uppercase;
}

.hero6__div-input1{
    grid-column: 1;
    grid-row: 2;
    margin-right: 15px;
}

.hero6__div-input2{
    grid-column: 2;
    grid-row: 2;
}

.hero6__div-input3{
    grid-column: 1/span 2;
    grid-row: 3;
}

.hero6__div-input1,
.hero6__div-input2,
.hero6__div-input3{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
}

.hero6__fildset{
    grid-column: 1/span2;
    grid-row: 4;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero4__btn{
    width: 200px;
    height: 51px;
    background-color:rgba(227, 184, 115, 1);
    grid-column: 1/span2;
    grid-row: 5;
    margin: 0 auto;
    font-family:'YesevaOne-Regular', Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
}
/*Окончание настройки блока hero6*/

/*настройка отображения на широком 1441px и больше экране*/

@media screen and (min-width: 1441px) {
    .hero2,
    .hero3,
    .hero4,
    .hero5,
    .hero6,
    .footer{
        display: none;
    }

    .hero1__div1{
        align-items: end;
        justify-content: center;
    }
    .hero1__div2 {
        padding-left: 115px;
    }
} 

/*настройка отображения на широком 1441px и больше экране*/

/*настройка отображения на экране 1024px*/
@media screen and (max-width: 1024px){

    .header-container,
    .header__list {
        gap: 15px;
    }
    .hero,
    .header-container,
    .hero__div {
        max-width: 100%;
    }
    .hero2{
        max-height: max-content;
    }
    .hero__div,
    .hero1__div2,
    .hero4__div-img-text-wrap{
        padding-left: 25px;
    }

    .hero1__div4,
    .hero1__image{
        max-width: 450px;
        min-height: 350px;
    }

    .hero1__text,
    .hero1__div3 {
        margin-bottom: 0;
    }

    .hero2__div1{
        max-width: 750px;
        height: 434px;
    }
    
    .hero2__form{
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
        grid-template-rows: repeat(2,1fr);
        max-width: 768px;
        min-height: 200px;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    .hero2__div-input1{
        grid-column: 1;
        grid-row: 1;
        
    }
    .hero2__div-input2{
        grid-column: 2;
        grid-row: 1;
    }
    .hero2__fildset{
        grid-column: 1;
        grid-row: 2;
    }
    .hero2__btn1{
        grid-column: 2;
        grid-row: 2;
        max-height: 51px;
    }
    .hero2__div-input1,
    .hero2__div-input2{
        display: flex;
        flex-direction: column;
    }

    .hero2__btn {
        width: 75px;
        min-height: 75px;
        position: absolute;
        z-index: 1;
        top: 120px;
        left: 295px;
        cursor: pointer;
        background-image: url("./images/png/круглый1.png");
        border-radius: 50px;
        padding: 0;
    }

    .hero1__div5{
        display: none;
    }

    .hero2__div1,.hero2__image {
        max-width: 660px;
        height: 434px;
    }

    .hero3{
        max-height: 3500px;
        margin-bottom: 30px;
    }

    .hero3__div-wrap{
        margin: 0;
    }

    .hero3__div-wrap4{
        gap: 8px;
    }

    .hero3__div-img2{
        justify-content: start;
        max-width: max-content;
    }

    .hero3__div-wrap5{
        max-width: 506px;
        margin: 0 auto;
        max-height: max-content;
    }

    .hero4__div-img-wrap,
    .hero4__div-img-wrap1,
    .hero4__div-img1,
    .hero4__div-img2{
        width: 250px;
    }
    .hero6__div-form{
        margin-top: 50px;
    }
    .hero5{
        display: none;
    }
    .hero6__heading{
        margin-top: 50px;
    }
    .hero6__img-karta{
        width: 650px;
        height: 400px;
    }

    .hero6__div-form{
        max-width: max-content;
    }
    .hero6__form{
        padding: 15px;
    }
}

/*настройка отображения на экране 768px*/

@media screen and (max-width: 768px){
    
    .header__nav,
    .header__btn,
    .hero1__div4,
    .hero1__div,
    .hero1__div5,
    .hero3__div-wrap2,
    .hero5,
    .hero4__div-img-wrap,
    .hero4__div-img-wrap1{
        display: none;
    }
    .header, .footer{
        justify-content: start;
    }
    .header-container{
        gap: 21px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .hero__wrap-btn{
        flex-direction: column;
    }

    .hero{
        max-height: max-content;
        padding-top: 25px;
        height: 800px;
    }

    .hero1{
        display: flex;
    }

    .hero1__div2{
        padding: 0;
        max-width: max-content;
        margin: 0 auto;
        align-items: center;
    }

    .hero1__heading{
        margin-top: 25px;
    }

    .hero1__heading,
    .hero1__text{
       text-align: center;
    }
    
    .hero1__div6,
    .hero4__div6{
        display: flex;
        position: relative;
        max-width: 700px;
    }
    .hero4__btn2,
    .hero4__btn1,
    .hero1__btn,
    .hero1__btn1{
        width: 35px;
        min-height: 35px;
        position: absolute;
        z-index: 1;
        border-radius: 50px;
        padding: 0;
    }

    .hero4__btn2,
    .hero1__btn{
        background-image: url('./images/png/c.lf.png');
    }

    .hero4__btn2,
    .hero1__btn{
        top: 110px;
        left: 30px;
    }

    .hero1__btn1,
    .hero4__btn1{
        background-image: url('./images/png/nelf.png'); 
    }

    .hero4__btn1,
    .hero1__btn1{
        top: 110px;
        right: 30px;
    }

    .hero2{
        background-color: #181818;
    }

    .hero2__text{
        color: #FFFFFF;
    }

    .hero2__form{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,50px);
        margin-top: 65px;
        max-width: 390px;
    }

    .hero2__div-input1{
        grid-column: 1;
        grid-row: 1;
    }

    .hero2__div-input2{
        grid-column: 1;
        grid-row: 2;
    }

    .hero2__fildset{
        grid-column: 1;
        grid-row: 3;
        align-items: start;
        justify-content: start;
        margin: 0;
        padding: 0;
    }

    .hero2__btn1{
        grid-column: 1;
        grid-row: 4;
    }

    input[name="surname"],
    input[name="telephone"]{
        background-color: #181818;
        color: #FFFFFF;
    }

    .hero2__text-span-name,
    .hero2__text-span1-name{
        color: rgba(255, 255, 255, 0.5);
    }

    .hero2__text-form,
    .hero2__text-form1,
    .hero2__div-input{
        color: #FFFFFF;
    }

    .hero2__text-form,
    .hero2__text-form1{
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }


    .hero2__text{
        padding: 0;
    }

    .hero2__div1,
    .hero2__image {
        max-width: 375px;
        height: 243px;
    }
    
    .hero2__btn{
        top: 105px;
        left: 175px;
        width: 35px;
        min-height: 35px;
    }

    .hero2__btn1{
        max-height: 75px;
    }

    .hero3__heiding{
        padding-top: 58px;
    }

    .hero3{
        min-height: 2350px;
    }

    .hero4__div-img-text-wrap{
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .hero4__div-wrap{
        margin-top: -225px;
    }

    .hero4__list{
        display: none;
    } 

    .hero3__div3,
    .hero3__btn{
        margin-left: 0;
    }

    .bckgb-img-card2{
        background-image: url(./images/png/mobil_foto2.png);
    }

    .hero4{
        background-image: none;
        background-color: #181818;
        height: 200px;
    }

    .hero4__heiding{
        text-align: center;
    }

    .hero6__form{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,70px);
        height: 450px;
        max-width: 80%;
        padding: 0;
    }

    .hero6__form-legend{
        grid-column: 1;
        grid-row: 1;
    }

    .hero6__div-input1{
        margin: 0;
        grid-column: 1;
        grid-row: 2;
    }

    .hero6__div-input2{
        grid-column: 1;
        grid-row: 3;
    }

    .hero6__div-input3{
        grid-column: 1;
        grid-row: 4;
    }

    .hero6__fildset{
        grid-column: 1;
        grid-row: 5;
        align-items: start;
        justify-content: start;
        padding: 0;
        margin: 0;
    }

    .hero4__btn{
        grid-column: 1;
        grid-row: 6;
        align-items: start;
        margin: 0;
    }

    .hero6{
        min-height: 1000px;
        background-image: none;
        background-color: #181818;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 450px 40% 5% 5%;
        justify-content: center;
    }

    .hero6__div-form{
        grid-column: 1;
        grid-row: 1;
        max-width: 375px;
        max-height: 850px;
        margin: 0;
    }

    .hero6__img-karta{
        grid-column: 1;
        grid-row: 2;
        max-width: 375px;
    }

    .hero6__heading{
        grid-column: 1;
        grid-row: 3;
        margin: 0;
    }

    .hero6__img-wrap{
        grid-column: 1;
        grid-row: 4;
        margin: 0;
    }
}

/*настройка отображения на экране 375px*/

@media screen and (max-width: 376px){
    
    
    .footer{
        display: none;
    }

    .header{
        justify-content: center;
    }

    .header__link-tel{
        color: #FFFFFF;
    }

    .hero__div,
    .hero1__text,
    .hero1__div3,
    .hero2__text,
    .hero2__form
    {
        padding-left: 17px;
        padding-right: 17px;
    }

    .header-container{
        padding: 0;
        gap: 56px;
    }


    .hero{
        padding-top: 85px;
    }

    .hero__btn1,
    .hero__btn2,
    .hero2__btn1 {
        max-width: 338px;
    }

    .hero__wrap-btn{
        width: 339px;
        gap: 26px;
    }

    .hero2__div1,
    .hero2__image {
        max-width: 350px;
        height: 223px;
    }

    .hero2__btn{
        top: 100px;
        left: 165px;
    }

    .hero2__form{
        gap: 19px;
    }

    .hero3__div2 {
        min-height: 350px;
        max-width: 352px;
    }

    .hero3 {
        min-height: 2150px;
    }

    .hero4__btn{
        width: 338px;
    }

    .hero4__div-wrap {
        margin-top: -250px;
    }

    .hero6__form{
        max-width: 85%;
    }

    .hero6__img-wrap{
        margin-top: 23px;
    }

    .hero6__img-karta{
        max-width: 340px;
    }
}

/*настройка отображения на экране 320px*/

@media screen and (max-width: 320px){
    .hero__btn1,
    .hero__btn2,
    .hero2__btn1,
    .hero4__btn{
        max-width: 238px;
    }

    .hero__wrap-btn{
        width: 310px;
    }

    .header-container{
        gap: 25px;
    }

    .hero2__form{
        padding: 0;
        max-width: 310px;
    }

    .hero2__div1,
    .hero2__image {
        max-width: 310px;
        height: 195px;
    }

    .hero2__btn {
        top: 85px;
        left: 135px;
    }

    .hero1__div6,
    .hero4__div6{
        max-width: 310px;
    }

    .hero1__div4,
    .hero1__image{
        max-width: 310px;
        min-height: 250px;
    }

    .hero1__image1,
    .hero4__image{
        max-width: 310px;
    }

    .hero3__div3{
        max-width: 310px;
        margin-right: 0;
    }

    .hero6__div-form,
    .hero6__img-karta 
    {
        max-width: 310px;
    }
      
}